.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .component-buttons {
    display: flex;
    gap: 20px;

    button {
      width: 10rem;
      padding: 10px;
      cursor: pointer;
      background: var(--base-color--brand--primary-600);
      border: 1px solid var(--base-color--brand--primary-600);
      border-radius: var(--border-radius--small);
      color: var(--base-color--brand--primary-50);
    }
  }
}