
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7F8F8;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;

  button {
    font-size: 16px;
  }

  h1, h2, h3, h4{
    color: var(--base-color--neutral--neutral-800);
  }

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background-color--primary: var(--base-color--neutral--neutral-white);
  --text-color--primary: var(--base-color--neutral--neutral-950);
  --border-color--primary: var(--base-color--neutral--neutral-100);
  --background-color--inverse-primary: var(--base-color--neutral--neutral-black);
  --text-color--inverse-primary: var(--base-color--brand--primary-50);
  --base-color--accent--green-haze-200: #a8f2cd;
  --border-radius--xsmall: var(--base-size--4);
  --base-color--accent--green-haze-50: #ecfdf4;
  --base-color--accent--green-haze-800: #075e41;
  --text-color--brand: var(--base-color--brand--primary-600);
  --base-color--accent--picton-blue-600: #1176b8;
  --border-color--tertiary: var(--base-color--neutral--neutral-300);
  --swatch--black8: rgba(18,18,18,.08);
  --border-color--secondary: var(--base-color--neutral--neutral-200);
  --border-color--brand: var(--base-color--brand--primary-700);
  --text-color--tertiary: var(--base-color--neutral--neutral-400);
  --text-color--secondary: var(--base-color--neutral--neutral-600);
  --swatch--purple: #5f4ce0;
  --background-color--secondary: var(--base-color--neutral--neutral-50);
  --base-color--accent--burnt-sienna-200: #f5c8b3;
  --base-color--accent--burnt-sienna-50: #fdf4ef;
  --text-color--system--error: var(--base-color--accent--burnt-sienna-700);
  --base-color--accent--green-haze-600: #08a56d;
  --background-color--brand: var(--base-color--brand--primary-600);
  --background-color--brand-dark: var(--base-color--brand--primary-800);
  --dark--background-purple\<deleted\|variable-baf2080f-b187-89b6-3a3f-28196cb93828\>: var(--color--background-purple\<deleted\|variable-2b5c3985-a479-4ed6-870e-ea90b8043975\>);
  --background-color--tertiary: var(--base-color--neutral--neutral-100);
  --color--button-text-black\<deleted\|variable-860a6ffe-5124-b18e-b5d2-e61c5380b7ed\>: var(--color--text-black\<deleted\|variable-0cf4f7c7-e248-e5a3-c062-f3b4ab462f3a\>);
  --color--background-white-20\<deleted\|variable-5d1063d9-aace-9f0a-65fa-1a0c17f644e2\>: var(--swatch--white20);
  --font--code: "JetBrains Mono",sans-serif;
  --text-color--inverse-secondary: var(--base-color--neutral--neutral-300);
  --swatch--pink15: rgba(196,138,255,.15);
  --color--background-black-code: var(--swatch--code-black);
  --color--text-white\<deleted\|variable-73486313-ab87-4c43-dfcb-b57368cd1a23\>: var(--swatch--white);
  --color--background-purple\<deleted\|variable-2b5c3985-a479-4ed6-870e-ea90b8043975\>: var(--swatch--purple);
  --dark--text-white\<deleted\|variable-d75bb6c8-a870-a9d4-d99c-5bde72180bd7\>: var(--color--text-white\<deleted\|variable-73486313-ab87-4c43-dfcb-b57368cd1a23\>);
  --color--background-white\<deleted\|variable-fb4e91dc-1f56-05fc-d563-b72faaed20e0\>: var(--swatch--white);
  --color--background-black-8\<deleted\|variable-9db2cf55-fa2e-ab35-83a4-9c51312a6fa9\>: var(--swatch--black8);
  --text-color--system--success: var(--base-color--accent--green-haze-600);
  --swatch--green15: rgba(34,172,123,.15);
  --text-color--accent--green-haze: var(--base-color--accent--green-haze-600);
  --swatch--orange15: rgba(246,132,93,.15);
  --swatch--orange: #f6845d;
  --dark--background-white\<deleted\|variable-deeedd50-10f6-7160-db3b-290df531e826\>: var(--color--background-white\<deleted\|variable-fb4e91dc-1f56-05fc-d563-b72faaed20e0\>);
  --swatch--base300\<deleted\|variable-e9c3d9b6-f101-a204-a51a-048ad4a9aded\>: #f2f2f7;
  --border-radius--small: var(--base-size--8);
  --swatch--black4: rgba(18,18,18,.04);
  --swatch--white: #fff;
  --color--text-black-8\<deleted\|variable-bfa9cc05-e0ed-d91e-5701-a72cd113454e\>: var(--swatch--black8);
  --color--background-pink: var(--swatch--pink);
  --text-color--accent--lavender: var(--base-color--accent--lavender-400);
  --color--background-green: var(--swatch--green);
  --color--background-orange: var(--swatch--orange);
  --swatch--black: #121212;
  --background-color--brand-lightest: var(--base-color--brand--primary-50);
  --border-radius--medium: var(--base-size--12);
  --border-radius--round: var(--base-size--round);
  --swatch--grey\<deleted\|variable-bb070600-ef4e-b34e-e44e-0465b1745a3a\>: #969696;
  --base-color--accent--green-haze-700: #067651;
  --border-radius--round\<deleted\|variable-3500df7b-6ca5-ae1b-9987-9a699ea0c63d\>: var(--base-size--round\<deleted\|variable-55a90cb9-de68-c5dd-95ce-c4a67ca9dc9b\>);
  --border-color--none: rgba(255,255,255,0);
  --swatch--white20: rgba(255,255,255,.2);
  --base-color--neutral--neutral-50: #f7f8f8;
  --border-radius--xxsmall: var(--base-size--2);
  --color--background-black-4\<deleted\|variable-112afde2-1abc-6916-9d86-4be62ba83ba1\>: var(--swatch--black4);
  --swatch--blue: #68c1f0;
  --swatch--transparent: rgba(255,255,255,0);
  --swatch--code-black: #120025;
  --color--background-orange-15\<deleted\|variable-a0db4c34-7f94-9810-dd57-cd26f6315ae3\>: var(--swatch--orange15);
  --swatch--black15: rgba(18,18,18,.15);
  --color--text-black\<deleted\|variable-0cf4f7c7-e248-e5a3-c062-f3b4ab462f3a\>: var(--swatch--black);
  --color--background-black-65\<deleted\|variable-c14f7c26-6da3-fb53-f3aa-f58fa4668f9e\>: var(--swatch--black65);
  --color--background-black-15\<deleted\|variable-a7524a88-1616-ce56-d8cd-968fce03d320\>: var(--swatch--black15);
  --dark--text-black-65\<deleted\|variable-8b8d4612-7d21-861e-075d-0a25678743cc\>: var(--color--text-black-65\<deleted\|variable-66a295da-56e8-859c-e65e-267bdca5eb88\>);
  --text-color--inverse-tertiary: var(--base-color--neutral--neutral-400);
  --border-color--inverse-primary: var(--base-color--neutral--neutral-950);
  --border-radius--none: var(--base-size--0);
  --border-radius--large: var(--base-size--16);
  --border-radius--xlarge: var(--base-size--24);
  --border-radius--xxlarge: var(--base-size--32);
  --text-color--system--warning: var(--base-color--accent--burnt-sienna-400);
  --color--text-pink-60: var(--swatch--pink60);
  --accessible-components-dark-grey\<deleted\|variable-c4d8099c\>: #9b9b9b;
  --swatch--black65: rgba(18,18,18,.65);
  --swatch--white65: rgba(255,255,255,.65);
  --swatch--white8: rgba(255,255,255,.08);
  --swatch--purple60: rgba(95,76,224,.6);
  --swatch--purple15: rgba(95,76,224,.15);
  --swatch--pink: #c48aff;
  --swatch--pink60: rgba(196,138,255,.6);
  --swatch--orange60: rgba(246,132,93,.6);
  --swatch--green: #22ac7b;
  --swatch--green60: rgba(34,172,123,.6);
  --swatch--blue60: rgba(104,193,240,.6);
  --swatch--blue15: rgba(104,193,240,.15);
  --color--text-pink: var(--swatch--pink);
  --color--text-orange: var(--swatch--orange);
  --color--text-orange-60: var(--swatch--orange60);
  --color--text-green: var(--swatch--green);
  --color--background-blue: var(--swatch--blue);
  --color--text-blue: var(--swatch--blue);
  --color--button-background-white: var(--swatch--white);
  --swatch--purple8: white;
  --swatch--white4: rgba(255,255,255,.04);
  --swatch--purple80: rgba(95,76,224,.8);
  --base-color--brand--primary-50: #eff1fe;
  --base-color--brand--primary-100: #e1e6fe;
  --base-color--brand--primary-200: #c9cffc;
  --base-color--brand--primary-300: #a8b0f9;
  --base-color--brand--primary-400: #8587f4;
  --base-color--brand--primary-500: #6f68ec;
  --base-color--brand--primary-600: #5f4ce0;
  --base-color--brand--primary-700: #513dc5;
  --base-color--brand--primary-800: #42349f;
  --base-color--brand--primary-900: #39317e;
  --base-color--brand--primary-950: #221d49;
  --base-color--accent--blue-violet-50: #eff1fe;
  --base-color--accent--blue-violet-100: #e1e6fe;
  --base-color--accent--blue-violet-200: #c9cffc;
  --base-color--accent--blue-violet-300: #a8b0f9;
  --base-color--accent--blue-violet-400: #8587f4;
  --base-color--accent--blue-violet-500: #6f68ec;
  --base-color--accent--blue-violet-600: #5f4ce0;
  --base-color--accent--blue-violet-700: #513dc5;
  --base-color--accent--blue-violet-800: #42349f;
  --base-color--accent--blue-violet-900: #39317e;
  --base-color--accent--blue-violet-950: #221d49;
  --base-color--accent--lavender-50: #faf5ff;
  --base-color--accent--lavender-100: #f3e7ff;
  --base-color--accent--lavender-200: #e9d4ff;
  --base-color--accent--lavender-300: #d8b2ff;
  --base-color--accent--lavender-400: #c892ff;
  --base-color--accent--lavender-500: #a751fb;
  --base-color--accent--lavender-600: #922eef;
  --base-color--accent--lavender-700: #7d1ed2;
  --base-color--accent--lavender-800: #6a1eab;
  --base-color--accent--lavender-900: #57198a;
  --base-color--accent--lavender-950: #3b0566;
  --base-color--accent--burnt-sienna-100: #fae5da;
  --base-color--accent--burnt-sienna-300: #eea383;
  --base-color--accent--burnt-sienna-400: #e67653;
  --base-color--accent--burnt-sienna-500: #e0522f;
  --base-color--accent--burnt-sienna-600: #d13c25;
  --base-color--accent--burnt-sienna-700: #ae2b20;
  --base-color--accent--burnt-sienna-800: #8b2621;
  --base-color--accent--burnt-sienna-900: #70221e;
  --base-color--accent--burnt-sienna-950: #3c0e0e;
  --base-color--accent--confier-50: #f6fce9;
  --base-color--accent--confier-100: #eaf7d0;
  --base-color--accent--confier-200: #d6f0a6;
  --base-color--accent--confier-300: #afdf5b;
  --base-color--accent--confier-400: #9fd447;
  --base-color--accent--confier-500: #80ba28;
  --base-color--accent--confier-600: #62941c;
  --base-color--accent--confier-700: #4b711a;
  --base-color--accent--confier-800: #3e5a1a;
  --base-color--accent--confier-900: #354d1a;
  --base-color--accent--confier-950: #1a2a09;
  --base-color--accent--picton-blue-50: #f1f8fe;
  --base-color--accent--picton-blue-100: #e2f1fc;
  --base-color--accent--picton-blue-200: #bfe1f8;
  --base-color--accent--picton-blue-300: #87caf2;
  --base-color--accent--picton-blue-400: #5cb8ec;
  --base-color--accent--picton-blue-500: #1f95d8;
  --base-color--accent--picton-blue-700: #0f5f95;
  --base-color--accent--picton-blue-800: #11507b;
  --base-color--accent--picton-blue-900: #134367;
  --base-color--accent--picton-blue-950: #0d2b44;
  --base-color--accent--green-haze-100: #d2f9e3;
  --base-color--accent--green-haze-300: #70e5b2;
  --base-color--accent--green-haze-400: #36d191;
  --base-color--accent--green-haze-500: #13b678;
  --base-color--accent--green-haze-900: #074d37;
  --base-color--accent--green-haze-950: #032b20;
  --base-size--0: 0rem;
  --base-size--2: .125rem;
  --base-size--4: .25rem;
  --base-size--8: .5rem;
  --base-size--12: .75rem;
  --base-size--16: 1rem;
  --base-size--24: 1.5rem;
  --base-color--neutral--neutral-100: #edeef1;
  --base-color--neutral--neutral-200: #d8dbdf;
  --base-color--neutral--neutral-300: #b6bac3;
  --base-color--neutral--neutral-400: #8e95a2;
  --base-color--neutral--neutral-500: #6b7280;
  --base-color--neutral--neutral-600: #5b616e;
  --base-color--neutral--neutral-700: #4a4e5a;
  --base-color--neutral--neutral-800: #40444c;
  --base-color--neutral--neutral-900: #383a42;
  --base-color--neutral--neutral-950: #25272c;
  --base-color--neutral--neutral-white: white;
  --base-color--neutral--neutral-black: black;
  --background-color--inverse-alt: var(--base-color--neutral--black-alt);
  --base-color--neutral--black-alt: #120025;
  --background-color--brand-light: var(--base-color--brand--primary-300);
  --background-color--brand-darkest: var(--base-color--brand--primary-950);
  --text-color--white: var(--base-color--neutral--neutral-white);
  --text-color--black: var(--base-color--neutral--neutral-black);
  --text-color--brand-light: var(--base-color--brand--primary-400);
  --text-color--brand-dark: var(--base-color--brand--primary-800);
  --text-color--accent--picton-blue: var(--base-color--accent--picton-blue-400);
  --text-color--accent--burnt-sienna: var(--base-color--accent--burnt-sienna-400);
  --text-color--accent--confier: var(--base-color--accent--confier-300);
  --text-color--accent--blue-violet: var(--base-color--accent--blue-violet-600);
  --border-color--inverse-secondary: var(--base-color--neutral--neutral-900);
  --border-color--inverse-tertiary: var(--base-color--neutral--neutral-600);
  --base-size--32: 2rem;
  --base-size--round: 100vw;
  --base-size--round\<deleted\|variable-55a90cb9-de68-c5dd-95ce-c4a67ca9dc9b\>: 100vw;
  --color--text-black-65\<deleted\|variable-66a295da-56e8-859c-e65e-267bdca5eb88\>: var(--swatch--black65)
}